# Converting Timestamps to Minutes Per Hour

The following attempts to take non-uniform timestamps and do the following:
* resample those timestamps into minutes
* forward-fill the states
* resample the minutes into hours, summing the minutes

The function `.resample()` changed in pandas 0.18.1, so this was a learning process.

In [19]:
import numpy as np
import pandas as pd
print "This should be '0.20.1':"
print "pandas:         " + str(pd.__version__)
print "This should be '1.12.1':"
print "numpy:          " + str(np.__version__)

This should be '0.20.1':
pandas:         0.20.1
This should be '1.12.1':
numpy:          1.12.1

importing the data from the Library data sample.

In [22]:
useData = pd.read_csv(r'../data/170830_StateData.csv')

In [23]:
useData.head()

  computerName                datestamp    state
0      DMC0021  2017-08-31 00:00:46.393  offline
1      DMC0014  2017-08-31 00:00:46.450  offline
2      DMC0009  2017-08-31 00:00:46.480  offline
3       CRR028  2017-08-31 00:00:46.507  offline
4       CRR017  2017-08-31 00:00:46.510  offline

In [28]:
useData[pd.to_datetime(useData.datestamp).isnull()]

                                   computerName datestamp state
106      TC701\t2017-08-31 00:21:17.583\tin-use       NaN   NaN
107     TC5001\t2017-08-31 00:21:32.160\tin-use       NaN   NaN
119      TC701\t2017-08-31 02:02:57.047\tin-use       NaN   NaN
121     INC013\t2017-08-31 02:19:04.093\tin-use       NaN   NaN
124   JLPL0059\t2017-08-31 03:45:57.133\tin-use       NaN   NaN
125     INC004\t2017-08-31 03:57:31.240\tin-use       NaN   NaN
129    TC20001\t2017-08-31 05:04:03.520\tin-use       NaN   NaN
130     INC005\t2017-08-31 05:10:20.537\tin-use       NaN   NaN
132      TC211\t2017-08-31 05:57:32.640\tin-use       NaN   NaN
244     RRK001\t2017-08-31 06:30:33.860\tin-use       NaN   NaN
247     INC014\t2017-08-31 06:38:01.637\tin-use       NaN   NaN
248     INC012\t2017-08-31 06:51:11.807\tin-use       NaN   NaN
249     INC001\t2017-08-31 07:01:38.700\tin-use       NaN   NaN
251     INC004\t2017-08-31 07:21:22.600\tin-use       NaN   NaN
253     INC004\t2017-08-31 07:26:59.583\tin-use       NaN   NaN
254     INC009\t2017-08-31 07:30:37.407\tin-use       NaN   NaN
256    DMC0014\t2017-08-31 07:35:29.513\tin-use       NaN   NaN
257     CRR003\t2017-08-31 07:35:44.363\tin-use       NaN   NaN
260     INC003\t2017-08-31 07:37:14.560\tin-use       NaN   NaN
261      TC701\t2017-08-31 07:41:27.693\tin-use       NaN   NaN
263     CRR039\t2017-08-31 07:45:56.687\tin-use       NaN   NaN
264      BL001\t2017-08-31 07:46:49.567\tin-use       NaN   NaN
265     INC015\t2017-08-31 07:48:06.097\tin-use       NaN   NaN
268     INC006\t2017-08-31 07:50:04.807\tin-use       NaN   NaN
272    MLC0007\t2017-08-31 07:51:08.533\tin-use       NaN   NaN
274    MLC0003\t2017-08-31 07:52:20.673\tin-use       NaN   NaN
275      TC212\t2017-08-31 07:52:32.080\tin-use       NaN   NaN
279    JLPL041\t2017-08-31 07:56:09.133\tin-use       NaN   NaN
280     INC010\t2017-08-31 07:58:03.290\tin-use       NaN   NaN
281      RIS18\t2017-08-31 07:58:07.100\tin-use       NaN   NaN
...                                         ...       ...   ...
942    MLC0010\t2017-08-31 11:30:26.223\tin-use       NaN   NaN
946    MLC0004\t2017-08-31 11:31:48.753\tin-use       NaN   NaN
948     CRR034\t2017-08-31 11:32:14.790\tin-use       NaN   NaN
949      RIS14\t2017-08-31 11:32:18.943\tin-use       NaN   NaN
954    DMC0002\t2017-08-31 11:34:06.817\tin-use       NaN   NaN
970     RIS031\t2017-08-31 11:38:37.217\tin-use       NaN   NaN
974      RIS09\t2017-08-31 11:39:53.737\tin-use       NaN   NaN
976     INC014\t2017-08-31 11:40:10.690\tin-use       NaN   NaN
977     RIS005\t2017-08-31 11:40:56.283\tin-use       NaN   NaN
979      RIS02\t2017-08-31 11:42:30.357\tin-use       NaN   NaN
980     TC4001\t2017-08-31 11:42:48.480\tin-use       NaN   NaN
983    CITI025\t2017-08-31 11:43:19.963\tin-use       NaN   NaN
985    DMC0018\t2017-08-31 11:43:25.277\tin-use       NaN   NaN
996   JLPL0018\t2017-08-31 11:46:44.057\tin-use       NaN   NaN
1001   DMC0008\t2017-08-31 11:47:06.327\tin-use       NaN   NaN
1002    CRR021\t2017-08-31 11:47:25.310\tin-use       NaN   NaN
1007   TC20001\t2017-08-31 11:48:28.983\tin-use       NaN   NaN
1010    INC008\t2017-08-31 11:49:16.710\tin-use       NaN   NaN
1018    CRR005\t2017-08-31 11:51:46.783\tin-use       NaN   NaN
1020    CRR029\t2017-08-31 11:53:27.853\tin-use       NaN   NaN
1021   MLC0010\t2017-08-31 11:53:45.750\tin-use       NaN   NaN
1024  JLPL0024\t2017-08-31 11:54:59.170\tin-use       NaN   NaN
1027    RIS016\t2017-08-31 11:55:22.257\tin-use       NaN   NaN
1030   MLC0007\t2017-08-31 11:55:59.120\tin-use       NaN   NaN
1031    CRR015\t2017-08-31 11:56:00.873\tin-use       NaN   NaN
1032    CRR026\t2017-08-31 11:56:04.133\tin-use       NaN   NaN
1037     RIS12\t2017-08-31 11:57:40.127\tin-use       NaN   NaN
1043    CRR006\t2017-08-31 11:58:47.820\tin-use       NaN   NaN
1046  JLPL0020\t2017-08-31 11:59:31.007\tin-use       NaN   NaN
1047    RIS029\t2017-08-31 11:59:46.423\tin-use       NaN   NaN

[355 rows x 3 columns]

Verifying the status of the columns. 'datastamp' should be a datetime64 field.

In [17]:
useData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3873 entries, 0 to 3872
Data columns (total 4 columns):
machineName    3873 non-null object
location       3873 non-null object
state          3873 non-null object
datestamp      3873 non-null object
dtypes: object(4)
memory usage: 121.1+ KB

Testing functionality with a single computer. Working with iterating across the numpy array later.

In [4]:
computerDataName = 'CRR005'

In [5]:
computerTimeArray = useData[useData.machineName == computerDataName]

In [6]:
computerTimeArray

     machineName             location      state           datestamp
0         CRR005  Current Periodicals     in-use 2017-08-31 09:09:00
4         CRR005  Current Periodicals  restarted 2017-08-31 09:07:00
6         CRR005  Current Periodicals    offline 2017-08-31 09:07:00
7         CRR005  Current Periodicals  available 2017-08-31 09:07:00
64        CRR005  Current Periodicals     in-use 2017-08-31 08:45:00
248       CRR005  Current Periodicals  restarted 2017-08-31 06:30:00
461       CRR005  Current Periodicals  available 2017-08-30 22:39:00
655       CRR005  Current Periodicals     in-use 2017-08-30 20:18:00
687       CRR005  Current Periodicals  available 2017-08-30 19:57:00
784       CRR005  Current Periodicals     in-use 2017-08-30 19:17:00
834       CRR005  Current Periodicals  available 2017-08-30 18:53:00
911       CRR005  Current Periodicals     in-use 2017-08-30 18:33:00
955       CRR005  Current Periodicals  restarted 2017-08-30 18:19:00
958       CRR005  Current Periodicals    offline 2017-08-30 18:18:00
959       CRR005  Current Periodicals  available 2017-08-30 18:18:00
1309      CRR005  Current Periodicals     in-use 2017-08-30 16:40:00
1352      CRR005  Current Periodicals  available 2017-08-30 16:31:00
1592      CRR005  Current Periodicals     in-use 2017-08-30 15:23:00
1678      CRR005  Current Periodicals  available 2017-08-30 15:10:00
1994      CRR005  Current Periodicals     in-use 2017-08-30 13:56:00
2018      CRR005  Current Periodicals  available 2017-08-30 13:52:00
2094      CRR005  Current Periodicals     in-use 2017-08-30 13:45:00
2108      CRR005  Current Periodicals  restarted 2017-08-30 13:43:00
2153      CRR005  Current Periodicals    offline 2017-08-30 13:35:00
2154      CRR005  Current Periodicals  available 2017-08-30 13:35:00
2824      CRR005  Current Periodicals     in-use 2017-08-30 11:47:00
2850      CRR005  Current Periodicals  available 2017-08-30 11:44:00
2939      CRR005  Current Periodicals     in-use 2017-08-30 11:25:00
2942      CRR005  Current Periodicals  restarted 2017-08-30 11:23:00
2958      CRR005  Current Periodicals    offline 2017-08-30 11:18:00
2959      CRR005  Current Periodicals  available 2017-08-30 11:18:00
3279      CRR005  Current Periodicals     in-use 2017-08-30 10:03:00
3409      CRR005  Current Periodicals  available 2017-08-30 09:43:00
3467      CRR005  Current Periodicals     in-use 2017-08-30 09:23:00
3752      CRR005  Current Periodicals  restarted 2017-08-30 06:30:00

This turns the 'in-use' value into true, and all of the others into false. Since this analysis is based upon when a machine is not being used (as opposed to when it is offline/available/restarted) all other states are irrelevant.

Will need to investigate copy/view on this error. May need to do this as a dataframe with `.concat()`.

In [7]:
computerTimeArray.loc[:,'state'] = pd.Series(computerTimeArray.state == 'in-use')

C:\Users\fbbigger\AppData\Local\Continuum\Anaconda2\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Location data is irrelevant for a machine at this point. Also, location can be derived from machine name, machine location is (at this point) not that precise.

Pandas was giving a duplicate error due to the three non- 'in-use' states occurring simultaneously. Dropping unused columns for data duplication (machinename and location), and dropping timestamp duplications.

In [8]:
computerTimeArray = computerTimeArray.loc[:,'state':'datestamp'].drop_duplicates()

In [9]:
computerTimeArray = computerTimeArray.set_index('datestamp').sort_index()

In [10]:
computerTimeArray

                     state
datestamp
2017-08-30 06:30:00  False
2017-08-30 09:23:00   True
2017-08-30 09:43:00  False
2017-08-30 10:03:00   True
2017-08-30 11:18:00  False
2017-08-30 11:23:00  False
2017-08-30 11:25:00   True
2017-08-30 11:44:00  False
2017-08-30 11:47:00   True
2017-08-30 13:35:00  False
2017-08-30 13:43:00  False
2017-08-30 13:45:00   True
2017-08-30 13:52:00  False
2017-08-30 13:56:00   True
2017-08-30 15:10:00  False
2017-08-30 15:23:00   True
2017-08-30 16:31:00  False
2017-08-30 16:40:00   True
2017-08-30 18:18:00  False
2017-08-30 18:19:00  False
2017-08-30 18:33:00   True
2017-08-30 18:53:00  False
2017-08-30 19:17:00   True
2017-08-30 19:57:00  False
2017-08-30 20:18:00   True
2017-08-30 22:39:00  False
2017-08-31 06:30:00  False
2017-08-31 08:45:00   True
2017-08-31 09:07:00  False
2017-08-31 09:09:00   True

This takes the above data and resamples it into minute increments. Value for the specific minute is put into place, while 'NaN' values will take on the previous non-NaN data.

In [11]:
computerTimeArrayMin = computerTimeArray.resample('T').ffill()

In [12]:
computerTimeArrayPerHour = computerTimeArrayMin.resample('H').sum()

In [13]:
computerTimeArrayPerHour

                     state
datestamp
2017-08-30 06:00:00    0.0
2017-08-30 07:00:00    0.0
2017-08-30 08:00:00    0.0
2017-08-30 09:00:00   20.0
2017-08-30 10:00:00   57.0
2017-08-30 11:00:00   50.0
2017-08-30 12:00:00   60.0
2017-08-30 13:00:00   46.0
2017-08-30 14:00:00   60.0
2017-08-30 15:00:00   47.0
2017-08-30 16:00:00   51.0
2017-08-30 17:00:00   60.0
2017-08-30 18:00:00   38.0
2017-08-30 19:00:00   40.0
2017-08-30 20:00:00   42.0
2017-08-30 21:00:00   60.0
2017-08-30 22:00:00   39.0
2017-08-30 23:00:00    0.0
2017-08-31 00:00:00    0.0
2017-08-31 01:00:00    0.0
2017-08-31 02:00:00    0.0
2017-08-31 03:00:00    0.0
2017-08-31 04:00:00    0.0
2017-08-31 05:00:00    0.0
2017-08-31 06:00:00    0.0
2017-08-31 07:00:00    0.0
2017-08-31 08:00:00   15.0
2017-08-31 09:00:00    8.0

In [14]:
computerNames = useData.iloc[:,0].unique()

In [15]:
for i in computerNames.tolist():
    print i

CRR005
INC001
CRR006
RIS01
TC209
JLPL0028
INC004
INC015
RIS20
MLC0006
CRR003
CRR004
INC007
MLC0005
INC003
CRR031
RIS003
CRR024
INC006
MLC0002
INC013
DMC0022
CRR009
RIS010
RIS24
RIS016
CRR012
INC009
TC206
BL001
DMC0006
DMC0010
INC010
MLC0015
MLC0013
MLC0014
TC701
MLC0001
RIS027
CRR017
RIS23
MLC0003
INC005
RIS004
CRR019
CRR015
RIS18
TC30001
RIS09
MLC0004
INC008
CRR002
CRR011
CRR029
JLPL0008
RIS006
DMC0002
DMC026
JLPL041
TC212
MLC0007
TC211
CRR039
INC014
DMC0014
TC20001
INC012
DMC0032
TL30002
RRK001
DMC0009
DMC027
RIS035
CRR013
DMC025
DMC029
TL702
TL901
CRR028
RIS029
RIS030
MLC0009
CRR014
RIS02
CRR016
DMC0011
TC8001
CRR010
CRR037
TL6002
DMC030
CRR018
DMC0034
TL5002
CRR020
DMC0001
DMC0018
TC901
CRR021
DMC0017
CITI018
INC011
RIS14
DMC0013
MLC0011
DMC0020
DMC0012
RIS26
RIS21
DMC0033
DMC0015
DMC0019
DMC0016
MLC0008
TC205
TC208
CRR001
CRR027
CRR034
MLC0016
RIS13
RIS12
DMC0023
CRR032
RIS15
CRR023
MLC0010
MLC0012
DMC0021
MLC0017
DMC0031
DMC0007
DMC0024
DMC0008
DMC0005
DDL0001
TC204
MLC0018
CRR033
CRR038
JLPL0059
JLPL0012
JLPL0060
TC5001
BL002
DMC0003
DMC0004
CITI008
TC30004
CITI004
CITI002
TC210
TL802
DDL002
CITI003
CITI012
TC30003
CITI014
TC207
CITI009
TL4001
RIS005
TL4004
CITI011
CITI024
TC4003
TC5002
CITI022
TC30002
TC202
TL902
INC002
TL4002
CITI013
CITI016
TL7001
TL5001
TC4002
TC4001
TC30005
TL801
TL4003
CITI010
TC601
CITI001
CITI006
CITI007
DMC028
CITI025
JLPL0001
JLPL0035
JLPL0045
JLPL0061
JLPL0019
JLPL0022
JLPL0007
JLPL0025
CRR026
CRR007
JLPL0016
JLPL0004
JLPL0044
CRR025
CRR008
CRR022
JLPL0014
MLPL01
RIS032
CITI005
JLPL0038
JLPL0036
JLPL0037
JLPL0027
JLPL0003
JLPL0006
JLPL0015
CITI019
CITI017
CITI015
JLPL0013
JLPL0039
MLPL05
MLPL03
MLPL04
MLPL02
CRR035
RIS031
JLPL0033
JLPL0023
JLPL0040
CRR030
JLPL0042
JLPL0005
JLPL0048
CITI020
JLPL0030
JLPL0031
JLPL0018
JLPL0002
RIS028
RIS033
JLPL0020
JLPL0029
JLPL0032
JLPL0010
JLPL0021
JLPL0011
JLPL0017
JLPL0024
CITI021
CITI023